@page "/YPLCorrections"
@using System.Text
@using YPLCalibrationFromRheometer.ModelClientShared
@using Newtonsoft.Json
@using Microsoft.Extensions.Logging
@inject ILogger<YPLCorrections> logger

<h1>YPLCorrections</h1>
<div hidden="@IsHidSubPanel">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>R1 (m)</td>
                    <td>R2 (m)</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @if (IsHidInputAdd)
                {
                    <tr>
                        <td>
                            <span class="label">@(yplCorrectionList[yplCorrectionIdx].Name)</span>
                        </td>
                        <td>
                            <span class="label">@(yplCorrectionList[yplCorrectionIdx].Description)</span>
                        </td>
                        <td>
                            <span class="label">@(yplCorrectionList[yplCorrectionIdx].R1)</span>
                        </td>
                        <td>
                            <span class="label">@(yplCorrectionList[yplCorrectionIdx].R2)</span>
                        </td>
                        <td></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            <input class="text" type="text" size="50" @bind="@updatedYplCorrectionName" />
                        </td>
                        <td>
                            <input class="text" type="text" size="50" @bind="@updatedYplCorrectionDescr" />
                        </td>
                        <td>
                            <input class="text" type="text" size="10" @bind="@updatedYplCorrectionR1" />
                        </td>
                        <td>
                            <input class="text" type="text" size="10" @bind="@updatedYplCorrectionR2" />
                        </td>
                        <td align="right">
                            <button class="btn btn-primary" @onclick="@(() => Update(yplCorrectionIdx))">Update</button>
                            <button class="btn btn-primary" @onclick="@(() => Cancel(yplCorrectionIdx))">Cancel</button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>

@if (yplCorrectionList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div hidden="@IsHidMainPanel">
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>R1 (m)</td>
                    <td>R2 (m)</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < yplCorrectionList.Count; i++)
                {
                    var local_i = i; // Do not use a loop variable directly in a lambda expression
                    <tr>
                        <td>
                            <span class="label">@yplCorrectionList[i].Name</span>
                        </td>
                        <td>
                            <span class="label">@yplCorrectionList[i].Description</span>
                        </td>
                        <td>
                            <span class="label">@(yplCorrectionList[i].R1)</span>
                        </td>
                        <td>
                            <span class="label">@(yplCorrectionList[i].R2)</span>
                        </td>
                        <td align="right">
                            <button class="btn btn-primary" @onclick="@(() => Edit(local_i))">Edit</button>
                            <button class="btn btn-primary" @onclick="@(() => Delete(local_i))">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <input class="text" type="text" size="50" @bind="@addedYplCorrectionName" />
                    </td>
                    <td>
                        <input class="text" type="text" size="50" @bind="@addedYplCorrectionDescr" />
                    </td>
                    <td>
                        <input class="text" type="text" size="10" @bind="@updatedYplCorrectionR1" />
                    </td>
                    <td>
                        <input class="text" type="text" size="10" @bind="@updatedYplCorrectionR2" />
                    </td>
                    <td align="right">
                        <button class="btn btn-primary" @onclick="@(() => Add())">Add</button>
                        <button class="btn btn-primary" @onclick="@(() => Cancel())">Cancel</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    @if (yplCorrectionIdx >= 0)
    {
        ICollection<RheometerMeasurement> inputList = yplCorrectionList[yplCorrectionIdx].RheogramInput.RheometerMeasurementList;
        ICollection<RheometerMeasurement> fullyCorrectedList = yplCorrectionList[yplCorrectionIdx].RheogramFullyCorrected.RheometerMeasurementList;
        ICollection<RheometerMeasurement> shearRateCorrectedList = yplCorrectionList[yplCorrectionIdx].RheogramShearRateCorrected.RheometerMeasurementList;
        ICollection<RheometerMeasurement> shearStressCorrectedList = yplCorrectionList[yplCorrectionIdx].RheogramShearStressCorrected.RheometerMeasurementList;
        <div hidden="@IsHidSubPanel">
            <div>
                <button class="btn btn-link" @onclick="@(() => HideInput())"><h2>Input Rheogram</h2></button>
                <div hidden="@IsHidInputPanel">
                    <table class="table">
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select @bind="@rheogramID">
                                        @foreach (Rheogram baseData1 in inputRheogramList)
                                        {
                                            <option value="@baseData1.ID">@baseData1.Name</option>
                                        }
                                    </select>
                                </td>
                                <td align="right">
                                    <button class="btn btn-primary" @onclick="@(() => UpdateInput())">Update</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                    <p>Warning, any change made to this Rheogram will be sent to the database and thus will affect other YPLCorrections which refer to it</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>ShearRate (1/s)</td>
                                <td>ShearStress (Pa)</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (inputList.Count > 0)
                            {
                                @for (int j = 0; j < inputList.Count; j++)
                                {
                                    var local_j = j; // defined because loop variables cannot be used directly in a lambda expression (see below)
                                    var rheometerMeasurement = inputList.ElementAt(j);
                                    @if (rheometerMeasurement != null)
                                    {
                                        @if (IsHidInputAdd && j == rowIndex)
                                        {
                                            <tr>
                                                <td>
                                                    <input class="text" type="text" size="10" @bind="@updatedShearRate" />
                                                </td>
                                                <td>
                                                    <input class="text" type="text" size="10" @bind="@updatedShearStress" />
                                                </td>
                                                <td align="right">
                                                    @if (local_j > -1)
                                                    {
                                                        <button class="btn btn-primary" @onclick="@(() => UpdateRheometerMeasurement(local_j))">Update</button>
                                                        <button class="btn btn-primary" @onclick="@(() => CancelRheometerMeasurement(local_j))">Cancel</button>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    <span class="label">@(rheometerMeasurement.ShearRate)</span>
                                                </td>
                                                <td>
                                                    <span class="label">@(rheometerMeasurement.ShearStress)</span>
                                                </td>
                                                <td align="right">
                                                    @if (!IsHidInputAdd)
                                                    {
                                                        <button class="btn btn-primary" @onclick="@(() => EditRheometerMeasurement(local_j))">Edit</button>
                                                        <button class="btn btn-primary" @onclick="@(() => DeleteRheometerMeasurement(local_j))">Delete</button>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            }
                        </tbody>
                        <tfoot hidden="@IsHidInputAdd">
                            <tr>
                                <td>
                                    <input class="text" type="text" size="10" @bind="@addedShearRate" />
                                </td>
                                <td>
                                    <input class="text" type="text" size="10" @bind="@addedShearStress" />
                                </td>
                                <td align="right">
                                    <button class="btn btn-primary" @onclick="@(() => AddRheometerMeasurement())">Add</button>
                                    <button class="btn btn-primary" @onclick="@(() => CancelRheometerMeasurement())">Cancel</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div>
                <button class="btn btn-link" @onclick="@(() => HideCalc())"><h2>Fully corrected Rheogram</h2></button>
                <table class="table" hidden="@IsHidCalcPanel">
                    <thead>
                        <tr>
                            <td>ShearRate (1/s)</td>
                            <td>ShearStress (Pa)</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (fullyCorrectedList.Count > 0)
                        {
                            @for (int j = 0; j < fullyCorrectedList.Count; j++)
                            {
                                var rheometerMeasurement = fullyCorrectedList.ElementAt(j);
                                @if (rheometerMeasurement != null)
                                {
                                    <tr>
                                        <td>
                                            <span class="label">@(rheometerMeasurement.ShearRate)</span>
                                        </td>
                                        <td>
                                            <span class="label">@(rheometerMeasurement.ShearStress)</span>
                                        </td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        }
                        else
                        {
                            <tr>Something went wrong with the input or the calculation</tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
            <div>
                <button class="btn btn-link" @onclick="@(() => HideCalc())"><h2>ShearRate corrected Rheogram</h2></button>
                <table class="table" hidden="@IsHidCalcPanel">
                    <thead>
                        <tr>
                            <td>ShearRate (1/s)</td>
                            <td>ShearStress (Pa)</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (shearRateCorrectedList.Count > 0)
                        {
                            @for (int j = 0; j < shearRateCorrectedList.Count; j++)
                            {
                                var rheometerMeasurement = shearRateCorrectedList.ElementAt(j);
                                @if (rheometerMeasurement != null)
                                {
                                    <tr>
                                        <td>
                                            <span class="label">@(rheometerMeasurement.ShearRate)</span>
                                        </td>
                                        <td>
                                            <span class="label">@(rheometerMeasurement.ShearStress)</span>
                                        </td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        }
                        else
                        {
                            <tr>Something went wrong with the input or the calculation</tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
            <div>
                <button class="btn btn-link" @onclick="@(() => HideCalc())"><h2>ShearStress corrected Rheogram</h2></button>
                <table class="table" hidden="@IsHidCalcPanel">
                    <thead>
                        <tr>
                            <td>ShearRate (1/s)</td>
                            <td>ShearStress (Pa)</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (shearStressCorrectedList.Count > 0)
                        {
                            @for (int j = 0; j < shearStressCorrectedList.Count; j++)
                            {
                                var rheometerMeasurement = shearStressCorrectedList.ElementAt(j);
                                @if (rheometerMeasurement != null)
                                {
                                    <tr>
                                        <td>
                                            <span class="label">@(rheometerMeasurement.ShearRate)</span>
                                        </td>
                                        <td>
                                            <span class="label">@(rheometerMeasurement.ShearStress)</span>
                                        </td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        }
                        else
                        {
                            <tr>Something went wrong with the input or the calculation</tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    }
}

@code {
    // default values
    private const double YPLCorrection_R1 = .017245; // this value is the same as in Model.YPLCorrection (could maybe be shared through ModelClientShared)
    private const double YPLCorrection_R2 = .018415; // this value is the same as in Model.YPLCorrection (could maybe be shared through ModelClientShared)

    // http client
    private HttpClient httpClient;

    // html booleans for dynamic visualization
    private bool IsHidMainPanel = false;
    private bool IsHidSubPanel = true;
    private bool IsHidInputPanel = true;
    private bool IsHidInputAdd = false;
    private bool IsHidCalcPanel = true;

    // model data objects
    private List<YPLCorrection> yplCorrectionList;
    private List<Rheogram> inputRheogramList;

    // UI binding variables
    private string addedYplCorrectionName = null;
    private string addedYplCorrectionDescr = null;
    private double addedYplCorrectionR1 = YPLCorrection_R1;
    private double addedYplCorrectionR2 = YPLCorrection_R2;
    private string updatedYplCorrectionName = null;
    private string updatedYplCorrectionDescr = null;
    private double updatedYplCorrectionR1 = YPLCorrection_R1;
    private double updatedYplCorrectionR2 = YPLCorrection_R2;
    private double? addedShearRate = null;
    private double? addedShearStress = null;
    private double? updatedShearRate = null;
    private double? updatedShearStress = null;

    // variables identifying user's selected objects
    private int yplCorrectionIdx = -1; // the index of the selected YPLCorrection
    private Guid yplCorrectionID = Guid.Empty;
    private Guid rheogramID = Guid.Empty;
    private int rowIndex = -1; // the index of the row selected in the Input panel

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string host = YPLCalibrationFromRheometer.WebApp.Client.Configuration.YPLCalibrationHostURL;
            logger.LogInformation("Trying to load YPLCorrections from client: " + host);
            SetHttpClient(host);
            yplCorrectionList = await LoadYPLCorrections();
            if (yplCorrectionList != null)
                inputRheogramList = await LoadRheograms();
        }
        catch (Exception ex)
        {
            httpClient = null;
            logger.LogError(ex, "Impossible to load YPLCorrections or Rheograms on initialization");
        }
    }

    private void SetHttpClient(string host)
    {
        httpClient = new HttpClient();
        httpClient.BaseAddress = new Uri(host + "YPLCalibrationFromRheometer/api/");
        httpClient.DefaultRequestHeaders.Accept.Clear();
        httpClient.DefaultRequestHeaders.Accept.Add(new System.Net.Http.Headers.MediaTypeWithQualityHeaderValue("application/json"));
    }

    private async Task<List<YPLCorrection>> LoadYPLCorrections()
    {
        bool success = false;
        try
        {
            var a = await httpClient.GetAsync("YPLCorrections");
            if (a.IsSuccessStatusCode)
            {
                Guid[] ids = null;
                string str = await a.Content.ReadAsStringAsync();
                if (!string.IsNullOrEmpty(str))
                    ids = Newtonsoft.Json.JsonConvert.DeserializeObject<Guid[]>(str);
                this.yplCorrectionList = new List<YPLCorrection>();
                YPLCorrection calculationData = null;
                for (int i = 0; i < ids.Length; i++)
                {
                    a = await httpClient.GetAsync("YPLCorrections/" + ids[i].ToString());
                    if (a.IsSuccessStatusCode && a.Content != null)
                    {
                        str = await a.Content.ReadAsStringAsync();
                        if (!string.IsNullOrEmpty(str))
                        {
                            calculationData = JsonConvert.DeserializeObject<YPLCorrection>(str);
                            if (calculationData == null)
                                throw new NullReferenceException("Impossible to deserialize YPLCorrection string:" + str);
                            this.yplCorrectionList.Add(calculationData);
                        }
                    }
                }
                if (this.yplCorrectionList.Count != ids.Length)
                    throw new Exception("Inconsistent count of YPLCorrection-loaded IDs and loaded YPLCorrections.");
                success = true;
            }
            else
            {
                logger.LogWarning("Impossible to get YPLCorrections from controller");
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to load YPLCorrections");
        }
        if (success)
        {
            yplCorrectionList.Sort((yplc1, yplc2) => yplc1.Name.CompareTo(yplc2.Name));
            logger.LogInformation("Loaded YPLCorrections successfully");
            return yplCorrectionList;
        }
        else
        {
            logger.LogWarning("Impossible to load YPLCorrections");
            return null;
        }
    }

    private async Task<List<Rheogram>> LoadRheograms()
    {
        bool success = false;
        try
        {
            var a = await httpClient.GetAsync("Rheograms");
            if (a.IsSuccessStatusCode)
            {
                Guid[] ids = null;
                string str = await a.Content.ReadAsStringAsync();
                if (!string.IsNullOrEmpty(str))
                {
                    ids = Newtonsoft.Json.JsonConvert.DeserializeObject<Guid[]>(str);
                }
                inputRheogramList = new List<Rheogram>();
                Rheogram baseData1 = null;
                for (int i = 0; i < ids.Length; i++)
                {
                    a = await httpClient.GetAsync("Rheograms/" + ids[i].ToString());
                    if (a.IsSuccessStatusCode && a.Content != null)
                    {
                        str = await a.Content.ReadAsStringAsync();
                        if (!string.IsNullOrEmpty(str))
                        {
                            baseData1 = JsonConvert.DeserializeObject<Rheogram>(str);
                            if (baseData1 == null)
                                throw new NullReferenceException("Impossible to deserialize baseData1 string:" + str);
                            inputRheogramList.Add(baseData1);
                        }
                    }
                }
                if (inputRheogramList.Count != ids.Length)
                    throw new Exception("Inconsistent count of Rheogram-loaded IDs and loaded Rheograms.");
                success = true;
            }
            else
            {
                logger.LogWarning("Impossible to get Rheograms from controller");
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to load Rheograms");
        }
        if (success)
        {
            inputRheogramList.Sort((rheo1, rheo2) => rheo1.Name.CompareTo(rheo2.Name));
            logger.LogInformation("Loaded Rheograms successfully");
            return inputRheogramList;
        }
        else
        {
            logger.LogWarning("Impossible to load Rheograms");
            return null;
        }
    }

    private void Edit(int idx)
    {
        if (yplCorrectionList != null && idx >= 0 && idx < yplCorrectionList.Count)
        {
            yplCorrectionIdx = idx;
            yplCorrectionID = yplCorrectionList[idx].ID;
            updatedYplCorrectionName = yplCorrectionList[idx].Name;
            updatedYplCorrectionR1 = yplCorrectionList[idx].R1;
            updatedYplCorrectionR2 = yplCorrectionList[idx].R2;
            updatedYplCorrectionDescr = yplCorrectionList[idx].Description;
            rheogramID = yplCorrectionList[idx].RheogramInput.ID;
            IsHidMainPanel = true;
            IsHidSubPanel = false;
        }
    }

    private async void Delete(int idx)
    {
        if (yplCorrectionList != null && idx >= 0 && idx < yplCorrectionList.Count && yplCorrectionList[idx] != null && !yplCorrectionList[idx].ID.Equals(System.Guid.Empty))
        {
            // delete YPLCorrection from database (output children are implicitly deleted from their database)
            var a = await httpClient.DeleteAsync("YPLCorrections/" + yplCorrectionList[idx].ID);
            if (a.IsSuccessStatusCode)
            {
                await OnInitializedAsync();
                await InvokeAsync(() => { StateHasChanged(); });
            }
            else
            {
                logger.LogWarning("Impossible to delete the selected YPLCorrection");
            }
        }
    }

    private async void Update(int idx)
    {
        if (yplCorrectionList != null && idx >= 0 && idx < yplCorrectionList.Count && !yplCorrectionList[idx].ID.Equals(System.Guid.Empty) && !string.IsNullOrEmpty(updatedYplCorrectionName))
        {
            yplCorrectionList[idx].Name = updatedYplCorrectionName;
            yplCorrectionList[idx].Description = updatedYplCorrectionDescr;
            yplCorrectionList[idx].R1 = updatedYplCorrectionR1;
            yplCorrectionList[idx].R2 = updatedYplCorrectionR2;

            // PUT YPLCorrection into the YPLCorrectionsTable (calculation is performed and output children database is also updated)
            StringContent content = new StringContent(yplCorrectionList[idx].GetJson(), Encoding.UTF8, "application/json");
            var a = await httpClient.PutAsync("YPLCorrections/" + yplCorrectionList[idx].ID, content);
            if (a.IsSuccessStatusCode)
            {
                updatedYplCorrectionName = null;
                updatedYplCorrectionDescr = null;
                updatedYplCorrectionR1 = YPLCorrection_R1;
                updatedYplCorrectionR2 = YPLCorrection_R2;

                IsHidMainPanel = false;
                IsHidSubPanel = true;
                yplCorrectionIdx = -1;
                rheogramID = Guid.Empty;

                await OnInitializedAsync();
                await InvokeAsync(() => { StateHasChanged(); });
            }
            else
            {
                logger.LogWarning("Impossible to update the current YPLCorrection");
            }
        }
    }

    private void Cancel(int idx)
    {
        if (yplCorrectionList != null && idx >= 0 && idx < yplCorrectionList.Count)
        {
            IsHidMainPanel = false;
            IsHidSubPanel = true;
            yplCorrectionIdx = -1;
        }
    }

    private async void Add()
    {
        if (!string.IsNullOrEmpty(addedYplCorrectionName) && inputRheogramList != null && inputRheogramList.Count > 0)
        {
            YPLCorrection addedYplCorrection = new YPLCorrection();
            addedYplCorrection.ID = Guid.NewGuid();
            addedYplCorrection.Name = addedYplCorrectionName;
            addedYplCorrection.R1 = addedYplCorrectionR1;
            addedYplCorrection.R2 = addedYplCorrectionR2;
            addedYplCorrection.Description = addedYplCorrectionDescr;
            addedYplCorrection.RheogramInput = inputRheogramList[0]; // by default, the first available Rheogram is used as input
            addedYplCorrection.RheogramFullyCorrected = new Rheogram();
            addedYplCorrection.RheogramFullyCorrected.ID = Guid.NewGuid();
            addedYplCorrection.RheogramFullyCorrected.Name = addedYplCorrection.Name + "-calculated-fullyCorrected";
            addedYplCorrection.RheogramShearRateCorrected = new Rheogram();
            addedYplCorrection.RheogramShearRateCorrected.ID = Guid.NewGuid();
            addedYplCorrection.RheogramShearRateCorrected.Name = addedYplCorrection.Name + "-calculated-shearRateCorrected";
            addedYplCorrection.RheogramShearStressCorrected = new Rheogram();
            addedYplCorrection.RheogramShearStressCorrected.ID = Guid.NewGuid();
            addedYplCorrection.RheogramShearStressCorrected.Name = addedYplCorrection.Name + "-calculated-shearStressCorrected";

            // POST the YPLCorrection (note that it adds RheogramInput to the input database, triggers the CalculateOutputRheogram() method and adds the corresponding output to the output database)
            StringContent content = new StringContent(addedYplCorrection.GetJson(), Encoding.UTF8, "application/json");
            var a = await httpClient.PostAsync("YPLCorrections", content);
            if (a.IsSuccessStatusCode)
            {
                addedYplCorrectionName = null;
                addedYplCorrectionDescr = null;
                addedYplCorrectionR1 = YPLCorrection_R1;
                addedYplCorrectionR2 = YPLCorrection_R2;

                await OnInitializedAsync();
                await InvokeAsync(() => { StateHasChanged(); });
            }
            else
            {
                logger.LogWarning("Impossible to add the current YPLCorrection");
            }
        }
    }

    private void Cancel()
    {
        // empty UI edit box
        addedYplCorrectionName = null;
        addedYplCorrectionDescr = null;
        addedYplCorrectionR1 = YPLCorrection_R1;
        addedYplCorrectionR2 = YPLCorrection_R2;
    }

    private async void UpdateInput()
    {
        try
        {
            // first GET the selected Rheogram
            Rheogram rheogram = null;
            var a = await httpClient.GetAsync("Rheograms/" + rheogramID.ToString());
            if (a.IsSuccessStatusCode && a.Content != null)
            {
                string str = await a.Content.ReadAsStringAsync();
                if (!string.IsNullOrEmpty(str))
                {
                    rheogram = JsonConvert.DeserializeObject<Rheogram>(str);
                    if (rheogram == null)
                        throw new NullReferenceException("Impossible to deserialize Rheogram string:" + str);
                    yplCorrectionList[yplCorrectionIdx].RheogramInput = rheogram;

                    // then PUT the YPLCorrection with an updated RheogramInput value
                    StringContent content = new StringContent(yplCorrectionList[yplCorrectionIdx].GetJson(), Encoding.UTF8, "application/json");
                    a = await httpClient.PutAsync("YPLCorrections/" + yplCorrectionID.ToString(), content);
                    if (a.IsSuccessStatusCode)
                    {
                        await OnInitializedAsync();
                        await InvokeAsync(() => { StateHasChanged(); });
                    }
                    else
                    {
                        logger.LogWarning("Impossible to update the current YPLCorrection");
                    }
                }
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to update the current YPLCorrection");
        }
    }

    private void EditRheometerMeasurement(int rowIdx)
    {
        rowIndex = rowIdx;
        IsHidInputAdd = true;
        updatedShearRate = yplCorrectionList[yplCorrectionIdx].RheogramInput.RheometerMeasurementList.ElementAt(rowIdx).ShearRate;
        updatedShearStress = yplCorrectionList[yplCorrectionIdx].RheogramInput.RheometerMeasurementList.ElementAt(rowIdx).ShearStress;
    }

    private async void DeleteRheometerMeasurement(int rowIdx)
    {
        if (yplCorrectionList[yplCorrectionIdx] != null && yplCorrectionList[yplCorrectionIdx].RheogramInput != null &&
        !yplCorrectionList[yplCorrectionIdx].RheogramInput.ID.Equals(Guid.Empty))
        {
            int rheometerMeasurementCount = yplCorrectionList[yplCorrectionIdx].RheogramInput.RheometerMeasurementList.Count;
            if (rheometerMeasurementCount > 0)
            {
                rowIndex = rowIdx;
                // remove the RheometerMeasurement to be deleted
                RheometerMeasurement rheometerMeasurement = yplCorrectionList[yplCorrectionIdx].RheogramInput.RheometerMeasurementList.ElementAt(rowIdx);
                if (rheometerMeasurement != null)
                {
                    if (yplCorrectionList[yplCorrectionIdx].RheogramInput.RheometerMeasurementList.Remove(rheometerMeasurement) && !yplCorrectionID.Equals(Guid.Empty))
                    {
                        // finally update the Rheogram (all dependent YPLCorrections will be updated by the RheogramsController)
                        StringContent content = new StringContent(yplCorrectionList[yplCorrectionIdx].RheogramInput.GetJson(), Encoding.UTF8, "application/json");
                        var a = await httpClient.PutAsync("Rheograms/" + yplCorrectionList[yplCorrectionIdx].RheogramInput.ID.ToString(), content);
                        if (a.IsSuccessStatusCode)
                        {
                            await OnInitializedAsync();
                            await InvokeAsync(() => { StateHasChanged(); });
                        }
                        else
                        {
                            logger.LogWarning("Impossible to update the current Rheogram");
                        }
                    }
                    else
                    {
                        logger.LogWarning("Impossible to remove the current RheometerMeasurement or the current YPLCorrection ID is empty");
                    }
                }
                else
                {
                    logger.LogWarning("Impossible to retrieve the selected RheometerMeasurement");
                }
            }
            else
            {
                logger.LogWarning("No RheometerMeasurement to retrieve");
            }
        }
        else
        {
            logger.LogWarning("The current YPLCorrection is null or some of its attributes are null or badly identified");
        }
    }

    private async void UpdateRheometerMeasurement(int rowIdx)
    {
        if (yplCorrectionList[yplCorrectionIdx] != null && yplCorrectionList[yplCorrectionIdx].RheogramInput != null &&
        !yplCorrectionList[yplCorrectionIdx].RheogramInput.ID.Equals(Guid.Empty))
        {
            int iterData1Count = yplCorrectionList[yplCorrectionIdx].RheogramInput.RheometerMeasurementList.Count;
            if (!yplCorrectionID.Equals(Guid.Empty) && iterData1Count > 0)
            {
                rowIndex = rowIdx;
                // collect values from UI
                if (updatedShearRate.HasValue)
                {
                    yplCorrectionList[yplCorrectionIdx].RheogramInput.RheometerMeasurementList.ElementAt(rowIdx).ShearRate = (double)updatedShearRate;
                    yplCorrectionList[yplCorrectionIdx].RheogramInput.RheometerMeasurementList.ElementAt(rowIdx).ShearStress = (double)updatedShearStress;
                }

                // then refresh the UI
                updatedShearRate = null;
                updatedShearStress = null;
                IsHidInputAdd = false;
                rowIndex = -1;

                // finally update the Rheogram (all dependent YPLCorrections will be updated by the RheogramsController)
                StringContent content = new StringContent(yplCorrectionList[yplCorrectionIdx].RheogramInput.GetJson(), Encoding.UTF8, "application/json");
                var a = await httpClient.PutAsync("Rheograms/" + yplCorrectionList[yplCorrectionIdx].RheogramInput.ID.ToString(), content);
                if (a.IsSuccessStatusCode)
                {
                    await OnInitializedAsync();
                    await InvokeAsync(() => { StateHasChanged(); });
                }
                else
                {
                    logger.LogWarning("Impossible to update the current Rheogram");
                }
            }
        }
        else
        {
            logger.LogWarning("The current YPLCorrection is null or some of its attributes are null or badly identified");
        }
    }

    private void CancelRheometerMeasurement(int rowIdx)
    {
        // rowIndex is just used to make the distinction with the no-argument overload
        IsHidInputAdd = false;
        rowIndex = -1;
        // empty UI edit boxes
        updatedShearRate = null;
        updatedShearStress = null;
    }

    private async void AddRheometerMeasurement()
    {
        if (yplCorrectionList[yplCorrectionIdx] != null && yplCorrectionList[yplCorrectionIdx].RheogramInput != null &&
        !yplCorrectionList[yplCorrectionIdx].RheogramInput.ID.Equals(Guid.Empty))
        {
            RheometerMeasurement addedIterData1 = new RheometerMeasurement(); // attribute must be set separately because non-empty constructors cannot be passed through the ModelClientShared json conversion mechanism
            if (addedShearRate.HasValue)
            {
                addedIterData1.ShearRate = (double)addedShearRate; // else unchanged
                addedIterData1.ShearStress = (double)addedShearStress; // else unchanged
            }

            yplCorrectionList[yplCorrectionIdx].RheogramInput.RheometerMeasurementList.Add(addedIterData1);

            // update the UI
            addedShearRate = null;
            addedShearStress = null;

            // finally update the RheogramInput (all dependent YPLCorrections will be updated by the RheogramsController)
            StringContent content = new StringContent(yplCorrectionList[yplCorrectionIdx].RheogramInput.GetJson(), Encoding.UTF8, "application/json");
            var a = await httpClient.PutAsync("Rheograms/" + yplCorrectionList[yplCorrectionIdx].RheogramInput.ID.ToString(), content);
            if (a.IsSuccessStatusCode)
            {
                await OnInitializedAsync();
                await InvokeAsync(() => { StateHasChanged(); });
            }
            else
            {
                logger.LogWarning("Impossible to update the current YPLCorrection");
            }
        }
        else
        {
            logger.LogWarning("The current YPLCorrection is null or some of its attributes are null or badly identified");
        }
    }

    private void CancelRheometerMeasurement()
    {
        // empty UI edit boxes
        addedShearRate = null;
        addedShearStress = null;
    }

    private void HideInput()
    {
        IsHidInputPanel = !IsHidInputPanel;
    }

    private void HideCalc()
    {
        IsHidCalcPanel = !IsHidCalcPanel;
    }
}


